---
---

body { background-color: #F8F8F8; }

.wrapper {
  padding: 0;
}

.gnu {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.gnu .gnu-header {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  .title {
    flex-grow: 1;
    flex-shrink: 1;
    h1 {
      line-height: 2em;
      text-align: center;
    }
  }
  .gnu-nav {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-contents: center;
    border-left: 1px solid gray;
    span {
      display: block;
      margin: 0 2em;
      font-size: 1.2em;
    }
  }
  .gnu-nav:hover {
    background-color: lighten(gray, 10%);
    color: white;
  }
}

.gnu .gnu-manual {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  .list-level {
    flex-grow: 0;
    flex-shrink: 0;
    width: 30%;
    max-width: 20em;
    overflow-y: scroll;
    border-top: 1px solid gray;
    ul {
      list-style-type: none;
      li {
        padding: .5em;
        background-color: #34A1DE;
        color: white;
        font-weight: 700;
        border-bottom: 1px solid white;
        cursor: pointer;
      }
      li:last-child {
        border-bottom: none;
      }
      li:hover {
        background-color: #0F83C4;
      }
    }
  }
  .section-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    border-top: 1px solid gray;
    background-color: lighten(gray, 30%);
    overflow-y: scroll;
    padding-bottom: 3em;
    .section-content, .sub-section-content {
      background-color: white;
      font-size: .75em;
      padding: .5em;
      ul, ol {
        padding-left: 2em;
        list-style-type: initial;
      }
      th, td {
        border: none;
        padding: .2em 0;
      }
      .header, hr, .menu { display: none; }
      dl dd {
        margin: 0 0 0 2em;
      }
      pre { font-size: 1em; }
      table {
        table-layout: initial;
      }
    }
    .sub-section-item {
      cursor: pointer;
      font-size: 1.2em;
      color: white;
      border-bottom: 1px solid white;
      > i {
        display: inline-block;
        width: 1.5em;
        padding: 0 .5em;
      }
    }
    .sub-section-item:last-child {
      border-bottom: none;
    }

    .sub-section-item {
      &.level-1 { background-color: #C380E4; }
      &.level-1:hover { background-color: #9464AC; }
      &.level-2 { background-color: #ED8373; }
      &.level-2:hover { background-color: #E9614C; }
      &.level-3 { background-color: #52D379; }
      &.level-3:hover { background-color: #37B25C; }
    }
  }
}

a.summary-letter {text-decoration: none}
blockquote.smallquotation {font-size: smaller}
div.display {margin-left: 3.2em}
div.example {margin-left: 3.2em}
div.indentedblock {margin-left: 3.2em}
div.lisp {margin-left: 3.2em}
div.smalldisplay {margin-left: 3.2em}
div.smallexample {margin-left: 3.2em}
div.smallindentedblock {margin-left: 3.2em; font-size: smaller}
div.smalllisp {margin-left: 3.2em}
kbd {font-style:oblique}
pre.display {font-family: inherit}
pre.format {font-family: inherit}
pre.menu-comment {font-family: serif}
pre.menu-preformatted {font-family: serif}
// pre.smalldisplay {font-family: inherit; font-size: smaller}
// pre.smallexample {font-size: smaller}
// pre.smallformat {font-family: inherit; font-size: smaller}
// pre.smalllisp {font-size: smaller}
span.nocodebreak {white-space:nowrap}
span.nolinebreak {white-space:nowrap}
span.roman {font-family:serif; font-weight:normal}
span.sansserif {font-family:sans-serif; font-weight:normal}
ul.no-bullet {list-style: none}
