---
---
@import "bourbon/bourbon";

$background: #0F8FDE;

@mixin site-title-font() {
  font-family: "lust-script",sans-serif;
  font-weight: 300;
}

@mixin site-nav-font() {
  font-family: "letter-gothic-std",sans-serif;
  font-weight: 400;
}

.site-header {
  background-color: $background;
  width: 100vw;
  height: 100vh;
  min-height: 25em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .site-title {
    width: 100%;
    text-align: center;
    @include site-title-font();
    a, a:link, a:visited, a:hover, a:active {
      color: white;
    }
  }

  .site-nav {
    width: 100%;
    // margin: 0 auto;
    margin-top: .5em;
    @include site-nav-font();
    ul {
      text-align: center;
      display: flex;
      justify-content: center;
      li {
        display: block;
        a, a:link, a:visited, a:hover, a:active {
          color: white;
        }
        a:hover {
          text-decoration: underline;
        }
        a {
          display: block;
        }
        &.nav-middot {
          margin: 0 .5em;
        }
      }
    }
  }
}

.site-header.site-alt-header {
  height: initial;
  min-height: initial;
  padding: .5em 0;
  .site-title {

  }
  .site-nav {
    margin-top: 0;
  }
}
