---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "bourbon/bourbon";
@import "base/base";
@import "layout";
@import "syntax-highlighting";
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Open+Sans:400,700,300,800);

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: darken(white, 7%);
  margin: 0;
  padding: 0;
  // font-family: "proxima-nova",sans-serif;
  font-size: 100%;

  @media (min-width: 37.5em) {
    font-size: 112.5%;
  }

  @media (min-width: 50em) {
    font-size: 125%;
  }

  @media (min-width: 64.375em) {
    // font-size: 137.5%;
    font-size: 130%;
  }

  // @media (min-height: 31.25em) and (min-width: 75em) {
  //   font-size: 140%;
  // }
}

code {
  font-family: "courier-prime",monospace;
  font-size: .8em;
  p > &, td > & {
    background-color: darken(white, 5%);
    border-radius: .2em;
    padding: .2em .2em 0 .2em;
    border: .1em solid darken(white, 10%);
  }
}

blockquote {
  font-family: "freight-text-pro",sans-serif;
  font-style: italic;
  font-size: 1.1em;
}

pre {
  font-size: .8em;
}

img {
  display: block;
  margin: 0 auto;
}

.gist-meta {
  padding: 0 .5em !important;
}

.wrapper {
  padding: 1em 0;
}

.posts-list {
  .post-link {
    color: $dark-gray;
    display: block;
    @include card-layout();
    .post-info {
      padding: 1em;
      .post-header {
        .post-title {
          color: $blue;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 1.75em;
        }
        .post-metadata {
          color: lighten(black, 40%);
          font-weight: 300;
          .post-date {
            &::after {
              content: ' | ';
            }
          }
        }
      }
    }
    &:hover {
      .post-title {
        text-decoration: underline;
      }
    }
  }
}
