---
layout: default
---
<link rel="stylesheet" type="text/css" href="/css/blog.css">

<article class="posts-list">
  {% for post in site.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
      <section class="post-info">
        <header class="post-header">
          <h1 class="post-title">{{ post.title }}</h1>
          <div class="post-metadata">
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <span class="post-categories">{{ post.categories | join: ", " }}</span>
          </div>
        </header>
        <div class="post-excerpt">{{ post.excerpt }}</div>
      </section>
    </a>
  {% endfor %}
</article>

{% include disqus-count.html %}
