<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <link rel="icon" type="img/png" href="/assets/favicon.png">
  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="/js/FitText.js/jquery.fittext.js"></script>
  <script type="text/javascript" src="/js/bookmarkit/jquery.bookmarkit.js"></script>
  <script src="//use.typekit.net/fee4ufc.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  {% include google-analytics.html %}
</head>
