<link rel="stylesheet" type="text/css" href="/css/header.css">
<script>
  $(document).ready(function(e) {
    $('.site-header .site-title').fitText(1.5, { minFontSize: '20px',maxFontSize: '100px' });
    $('.site-header .site-nav').fitText(2.5, { minFontSize: '15x', maxFontSize: '50px' });
  });
</script>
<header class="site-header site-alt-header">
  <h1 class="site-title">Elmer landaverde</h1>
  <nav class="site-nav">
    <ul>
      <li><a href="/about.html">About</a></li>
      <li class="nav-middot">·</li>
      <li><a href="/index.html#blog">Blog</a></li>
      <li class="nav-middot">·</li>
      <li><a href="/gallery.html">Gallery</a></li>
    </ul>
  </nav>
</header>
