body {
  background-color: white; }

.wrapper {
  padding: 0; }

.gnu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh; }

.gnu .gnu-header {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #040004;
  color: white; }
  @media (min-width: 45em) {
    .gnu .gnu-header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .gnu .gnu-header .title {
    margin-left: 2em;
    text-align: center; }
    @media (min-width: 45em) {
      .gnu .gnu-header .title {
        text-align: left; } }
    .gnu .gnu-header .title h1 {
      font-size: 2em;
      line-height: 2em;
      margin-top: .2em; }
  .gnu .gnu-header .header-item {
    border-top: .2em solid #040004;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bold;
    margin-bottom: 1em; }
    .gnu .gnu-header .header-item:hover {
      border-top: .2em solid #22F4E5; }
    @media (min-width: 45em) {
      .gnu .gnu-header .header-item {
        margin-bottom: 0; } }
  .gnu .gnu-header .gnu-nav span {
    display: block;
    margin: 0 1em;
    font-size: 1.2em; }
  @media (min-width: 45em) {
    .gnu .gnu-header .gnu-nav {
      margin-left: 1.5em; } }
  .gnu .gnu-header .author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .gnu .gnu-header .author .prefix {
      font-size: .8em; }
    .gnu .gnu-header .author .fancy {
      font-family: "lust-script",sans-serif;
      font-weight: 300;
      margin-left: .5em; }
    @media (min-width: 45em) {
      .gnu .gnu-header .author {
        padding: 0 1em; } }

.gnu .gnu-manual {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1; }
  .gnu .gnu-manual .list-level {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: 25%;
    max-width: 18em;
    overflow-y: scroll;
    background-color: #404749;
    color: white; }
    .gnu .gnu-manual .list-level ul {
      list-style-type: none; }
      .gnu .gnu-manual .list-level ul li {
        padding: .5em;
        font-weight: 700;
        cursor: pointer;
        font-family: helvetica;
        border-bottom: 1px solid rgba(40, 45, 46, 0.6); }
        .gnu .gnu-manual .list-level ul li:hover {
          background-color: #282d2e; }
        .gnu .gnu-manual .list-level ul li a, .gnu .gnu-manual .list-level ul li a:link, .gnu .gnu-manual .list-level ul li a:visited, .gnu .gnu-manual .list-level ul li a:hover, .gnu .gnu-manual .list-level ul li a:active {
          color: white; }
      .gnu .gnu-manual .list-level ul li.selected a, .gnu .gnu-manual .list-level ul li.selected a:link, .gnu .gnu-manual .list-level ul li.selected a:visited, .gnu .gnu-manual .list-level ul li.selected a:hover, .gnu .gnu-manual .list-level ul li.selected a:active {
        color: #22F4E5; }
      .gnu .gnu-manual .list-level ul li.selected:hover {
        background-color: #404749; }
  .gnu .gnu-manual .section-wrapper .sub-section-wrapper {
    padding-left: 1.5em; }
  .gnu .gnu-manual .section-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    overflow-y: scroll;
    padding-bottom: 3em; }
    .gnu .gnu-manual .section-wrapper .section-content, .gnu .gnu-manual .section-wrapper .sub-section-content {
      background-color: white;
      font-size: .9em;
      padding: .5em; }
      .gnu .gnu-manual .section-wrapper .section-content ul, .gnu .gnu-manual .section-wrapper .section-content ol, .gnu .gnu-manual .section-wrapper .sub-section-content ul, .gnu .gnu-manual .section-wrapper .sub-section-content ol {
        padding-left: 2em;
        list-style-type: initial; }
      .gnu .gnu-manual .section-wrapper .section-content th, .gnu .gnu-manual .section-wrapper .section-content td, .gnu .gnu-manual .section-wrapper .sub-section-content th, .gnu .gnu-manual .section-wrapper .sub-section-content td {
        border: none;
        padding: .2em 0; }
      .gnu .gnu-manual .section-wrapper .section-content .header, .gnu .gnu-manual .section-wrapper .section-content hr, .gnu .gnu-manual .section-wrapper .section-content .menu, .gnu .gnu-manual .section-wrapper .sub-section-content .header, .gnu .gnu-manual .section-wrapper .sub-section-content hr, .gnu .gnu-manual .section-wrapper .sub-section-content .menu {
        display: none; }
      .gnu .gnu-manual .section-wrapper .section-content dl dd, .gnu .gnu-manual .section-wrapper .sub-section-content dl dd {
        margin: 0 0 0 2em; }
      .gnu .gnu-manual .section-wrapper .section-content pre, .gnu .gnu-manual .section-wrapper .sub-section-content pre {
        font-size: 1em; }
      .gnu .gnu-manual .section-wrapper .section-content table, .gnu .gnu-manual .section-wrapper .sub-section-content table {
        table-layout: initial; }
      .gnu .gnu-manual .section-wrapper .section-content .section, .gnu .gnu-manual .section-wrapper .section-content .subsection, .gnu .gnu-manual .section-wrapper .section-content .subsubsection, .gnu .gnu-manual .section-wrapper .sub-section-content .section, .gnu .gnu-manual .section-wrapper .sub-section-content .subsection, .gnu .gnu-manual .section-wrapper .sub-section-content .subsubsection {
        display: none; }
      .gnu .gnu-manual .section-wrapper .section-content .function-name, .gnu .gnu-manual .section-wrapper .sub-section-content .function-name {
        color: #1049CE; }
    .gnu .gnu-manual .section-wrapper .sub-section-item {
      cursor: pointer;
      font-size: 1.4em;
      font-weight: bold;
      color: #000000; }
      .gnu .gnu-manual .section-wrapper .sub-section-item > i {
        display: inline-block;
        width: 1.5em;
        padding: 0 .5em; }
    .gnu .gnu-manual .section-wrapper .sub-section-item:last-child {
      border-bottom: none; }

a.summary-letter {
  text-decoration: none; }

blockquote.smallquotation {
  font-size: smaller; }

div.display {
  margin-left: 3.2em; }

div.example {
  margin-left: 3.2em; }

div.indentedblock {
  margin-left: 3.2em; }

div.lisp {
  margin-left: 3.2em; }

div.smalldisplay {
  margin-left: 3.2em; }

div.smallexample {
  margin-left: 3.2em; }

div.smallindentedblock {
  margin-left: 3.2em;
  font-size: smaller; }

div.smalllisp {
  margin-left: 3.2em; }

kbd {
  font-style: oblique; }

pre.display {
  font-family: inherit; }

pre.format {
  font-family: inherit; }

pre.menu-comment {
  font-family: serif; }

pre.menu-preformatted {
  font-family: serif; }

span.nocodebreak {
  white-space: nowrap; }

span.nolinebreak {
  white-space: nowrap; }

span.roman {
  font-family: serif;
  font-weight: normal; }

span.sansserif {
  font-family: sans-serif;
  font-weight: normal; }

ul.no-bullet {
  list-style: none; }
