body {
  background-color: white; }

.manual-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .manual-header .header-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.manual-header {
  background-color: #040004;
  color: white; }
  .manual-header .header-item {
    margin-left: 1em; }
  .manual-header .title {
    padding: 1em 0; }
  .manual-header .about, .manual-header .author {
    font-size: 1.5em;
    color: white;
    padding: 0 1em;
    border-top: .2em solid transparent; }
    .manual-header .about:hover, .manual-header .author:hover {
      border-top: .2em solid #22F4E5; }
  .manual-header .author {
    margin-left: 0; }

@media (min-width: 40em) {
  manual {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    manual toc {
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      max-width: 15em; }
    manual .chapter-wrapper {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-flex-shrink: 1;
          -ms-flex-negative: 1;
              flex-shrink: 1; } }

.section-wrapper {
  margin-left: 1em; }
  .section-wrapper .title {
    font-size: 1.5em; }
    .section-wrapper .title .symbol {
      display: inline-block;
      width: 1em;
      padding-right: .5em; }

.chapter-wrapper .text .chapter, .chapter-wrapper .text .section, .chapter-wrapper .text .subsection, .chapter-wrapper .text .subsubsection, .section-wrapper .text .chapter, .section-wrapper .text .section, .section-wrapper .text .subsection, .section-wrapper .text .subsubsection {
  display: none; }
.chapter-wrapper .text .header, .section-wrapper .text .header {
  display: none; }
.chapter-wrapper .text .menu, .section-wrapper .text .menu {
  display: none; }
.chapter-wrapper .text hr, .section-wrapper .text hr {
  display: none; }

a.summary-letter {
  text-decoration: none; }

blockquote.smallquotation {
  font-size: smaller; }

div.display {
  margin-left: 3.2em; }

div.example {
  margin-left: 3.2em; }

div.indentedblock {
  margin-left: 3.2em; }

div.lisp {
  margin-left: 3.2em; }

div.smalldisplay {
  margin-left: 3.2em; }

div.smallexample {
  margin-left: 3.2em; }

div.smallindentedblock {
  margin-left: 3.2em;
  font-size: smaller; }

div.smalllisp {
  margin-left: 3.2em; }

kbd {
  font-style: oblique; }

pre.display {
  font-family: inherit; }

pre.format {
  font-family: inherit; }

pre.menu-comment {
  font-family: serif; }

pre.menu-preformatted {
  font-family: serif; }

span.nocodebreak {
  white-space: nowrap; }

span.nolinebreak {
  white-space: nowrap; }

span.roman {
  font-family: serif;
  font-weight: normal; }

span.sansserif {
  font-family: sans-serif;
  font-weight: normal; }

ul.no-bullet {
  list-style: none; }
