@charset "UTF-8";
.post .post-header {
  background: white;
  margin: .5em auto;
  border-right: .1em solid #b3b3b3;
  border-bottom: .1em solid #b3b3b3;
  width: 95%;
  max-width: 50em;
  border-bottom: 0;
  margin-bottom: 0;
  text-align: center;
  padding-top: 1em;
  color: #0d80c6; }
  @media (min-width: 30em) {
    .post .post-header {
      width: 90%; } }
  @media (min-width: 50em) {
    .post .post-header {
      width: 80%; } }
  .post .post-header .post-title {
    font-size: 3em;
    padding-bottom: .2em;
    overflow: hidden;
    text-overflow: ellipsis; }
  .post .post-header .post-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: .05em solid #cccccc;
    border-bottom: .05em solid #cccccc;
    background-color: #f2f2f2;
    padding: .2em 0; }
    .post .post-header .post-nav a, .post .post-header .post-nav a:link, .post .post-header .post-nav a:visited, .post .post-header .post-nav a:hover, .post .post-header .post-nav a:active {
      color: #999999; }
    .post .post-header .post-nav a:hover {
      color: #333333; }
    .post .post-header .post-nav .post-previous {
      padding-left: 1em;
      text-align: left; }
      .post .post-header .post-nav .post-previous a::before {
        content: "← "; }
    .post .post-header .post-nav .post-next {
      padding-right: 1em;
      text-align: right; }
      .post .post-header .post-nav .post-next a::after {
        content: " →"; }
.post .post-content {
  background: white;
  margin: .5em auto;
  border-right: .1em solid #b3b3b3;
  border-bottom: .1em solid #b3b3b3;
  width: 95%;
  max-width: 50em;
  margin-top: 0;
  padding: 1em; }
  @media (min-width: 30em) {
    .post .post-content {
      width: 90%; } }
  @media (min-width: 50em) {
    .post .post-content {
      width: 80%; } }
  .post .post-content h2 {
    font-size: 1.75em; }
  .post .post-content h3 {
    font-size: 1.5em; }
  .post .post-content h4 {
    font-size: 1.25em; }
  .post .post-content h5 {
    font-size: 1em; }
  .post .post-content h6 {
    font-size: 1em; }
  .post .post-content .note {
    font-size: .9em;
    background-color: #f2f2f2;
    padding: .5em;
    color: #4d4d4d; }
    .post .post-content .note::before {
      content: "Note: ";
      font-weight: bold; }
  .post .post-content h1 .post-deep-link, .post .post-content h2 .post-deep-link, .post .post-content h3 .post-deep-link, .post .post-content h4 .post-deep-link, .post .post-content h5 .post-deep-link, .post .post-content h6 .post-deep-link {
    margin-left: .5em;
    font-size: .8em;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out; }
  .post .post-content h1:hover .post-deep-link, .post .post-content h2:hover .post-deep-link, .post .post-content h3:hover .post-deep-link, .post .post-content h4:hover .post-deep-link, .post .post-content h5:hover .post-deep-link, .post .post-content h6:hover .post-deep-link {
    color: gray;
    opacity: 1; }
    .post .post-content h1:hover .post-deep-link:hover, .post .post-content h2:hover .post-deep-link:hover, .post .post-content h3:hover .post-deep-link:hover, .post .post-content h4:hover .post-deep-link:hover, .post .post-content h5:hover .post-deep-link:hover, .post .post-content h6:hover .post-deep-link:hover {
      color: #477DCA; }
  .post .post-content > ul {
    margin-bottom: .75em; }
  .post .post-content .gist-meta {
    padding: 0 .5em !important; }
.post .post-footer {
  background: white;
  margin: .5em auto;
  border-right: .1em solid #b3b3b3;
  border-bottom: .1em solid #b3b3b3;
  width: 95%;
  max-width: 50em;
  padding: 1em;
  font-weight: 300;
  text-align: center; }
  @media (min-width: 30em) {
    .post .post-footer {
      width: 90%; } }
  @media (min-width: 50em) {
    .post .post-footer {
      width: 80%; } }
  .post .post-footer .date-created::after {
    content: " | "; }
  .post .post-footer .description {
    color: #666666; }
.post .post-comments {
  background: white;
  margin: .5em auto;
  border-right: .1em solid #b3b3b3;
  border-bottom: .1em solid #b3b3b3;
  width: 95%;
  max-width: 50em;
  padding: 1em; }
  @media (min-width: 30em) {
    .post .post-comments {
      width: 90%; } }
  @media (min-width: 50em) {
    .post .post-comments {
      width: 80%; } }
