
@mixin card-layout() {
    background: white;
    margin: .5em auto;
    border-right: .1em solid lighten(black, 70%);
    border-bottom: .1em solid lighten(black, 70%);
    width: 95%;
    @media (min-width: 30em) {
      width: 90%;
    }
    @media (min-width: 50em) {
      width: 80%;
    }
    max-width: 50em;
}
