---
layout: default
---
<div class="post">
  <link rel="stylesheet" type="text/css" href="/css/post.css">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <nav class="post-nav">
      <span class="post-previous">
        {% if page.previous.url %}
          <a href="{{page.previous.url}}">Previous</a>
        {% endif %}
      </span>
      <span class="post-next">
        {% if page.next.url %}
          <a href="{{page.next.url}}">Next</a>
        {% endif %} 
      </span>
    </nav>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer class="post-footer">
    <p class="footer-content">
      <span class="date-created">
        <span class="description">Created:</span>
        {{ page.date | date: "%b %-d, %Y" }}
      </span>
      <span class="last-modified">
        <span class="description">Last modified:</span>
        {{ page.last_modified_at | date: "%b %-d, %Y" }}
      </span>
      {% if page.author %}
        <br>
        <span class="author">
          <span class="description">Author:</span>
          {{ page.author }}
          {% if page.email %}
            <a href="mailto:{{ page.email }}">({{ page.email }})</a>
          {% endif %}
        </span>
      {% endif %}
      
    </p>
  </footer>

  <section class="post-comments">{% include disqus.html %}</section>

</div>
<script src="/js/bookmarkit/jquery.bookmarkit.js"></script>
<script>
  $(document).ready(function() {
    $('.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6').bookmarkit();
  });
</script>
