@import "../modules/base_imports";
@import "../modules/header";

.container {
  @include container();
}

.content {
  @include center_column();
}

.content {
  ul {
    column-width: 10em;
    column-rule: .2em solid rgba(0, 0, 0, 0.3);
  }
}

.skills {
  ul {
    margin-bottom: .8em;
  }
  .proficiency-level {
    color: gray;
    font-size: .8em;
  }
}

