@import "../modules/base_imports";

// Apply header styling
@import "../modules/header";

// Apply content styling
@import "../modules/content";

.skills {
  ul {
    margin-bottom: .8em;
  }
  .proficiency-level {
    color: gray;
    font-size: .8em;
  }
}

button.confirm {
  background-color: rgb(31, 179, 246) !important;
  font-weight: bold !important;

  &:hover {
    background-color: #1686B9 !important;
  }
}
